.barRaceChart {
    width: 75%;
    margin: 12% auto;
}

#iframeId {
    width:100%;
    height:600px;
}

#divId {
    width:100%!;
    margin-top:4px!important;
    text-align:right!important;
}

#aId {
    text-decoration:none!important;
}